.forgot-password-background {
    background: linear-gradient(135deg, #007f5f 0%, #a8e063 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .forgot-password-container {
        background-color: white;
        width: 400px;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        padding: 30px;

        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
            color: #333;
            text-transform: uppercase;
        }
        
        .form-group {
            margin-bottom: 20px;
            label {
                font-weight: 500;
                margin-bottom: 5px;
            }
        }

        .btn-send-email {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #007f5f;
            color: white;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #005f47;
            }
        }

        .back-login {
            color: #007f5f;
            cursor: pointer;
            font-size: 14px;
            
            &:hover {
               text-decoration: underline;
            }
        }
    }
}
